<IfModule mod_php5.c>
   php_value upload_max_filesize 10M
   php_value post_max_size 10M
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    # RewriteBase /
    # RewriteCond %{REQUEST_FILENAME} !-f
    # RewriteCond %{REQUEST_FILENAME} !-d
    # RewriteRule . /index.php [L]

    #Redirect SSL
    # RewriteCond %{HTTPS} off
    # RewriteRule (.*) https://%{SERVER_NAME}/$1 [R,L]

    # DEFAULT PAGE
    RewriteRule ^indonesia-college-yogyakarta\.html$ app/controller/main.php?mod=home [L]

    # TENTANG KAMI
    RewriteRule ^profil\.html$ app/controller/main.php?mod=profil [L]
    RewriteRule ^keunggulan\.html$ app/controller/main.php?mod=keunggulan [L]
    RewriteRule ^visi-dan-misi\.html$ app/controller/main.php?mod=visi_dan_misi [L]

    # PROGRAM BIMBINGAN PAGE
    RewriteRule ^program-bimbingan-(.*)-([0-9]+)\.html$ app/controller/main.php?mod=detail_program_bimbingan&seo=$1&id=$2 [L]

    # JADWAL PAGE
    RewriteRule ^jadwal\.html$ app/controller/main.php?mod=jadwal [L]

    # BIAYA PAGE
    RewriteRule ^biaya\.html$ app/controller/main.php?mod=biaya [L]

    # PENDAFTARAN PAGE
    RewriteRule ^cara-pendaftaran\.html$ app/controller/main.php?mod=cara_pendaftaran [L]
    RewriteRule ^daftar-online\.html$ app/controller/main.php?mod=daftar_online [L]

    # KONTAK PAGE
    RewriteRule ^kontak\.html$ app/controller/main.php?mod=kontak [L]

    # TESTIMONI PAGE
    RewriteRule ^testimoni-indonesia-college-yogyakarta\.html$ app/controller/main.php?mod=testimoni [L]

    # VIDEO PAGE
    RewriteRule ^video-indonesia-college-yogyakarta\.html$ app/controller/main.php?mod=video [L]
</IfModule>


#RewriteRule ^biaya\.html$ media.php?mod=biaya [L]
#RewriteRule ^daftar-online\.html$ media.php?mod=daftar-online [L]
#RewriteRule ^proses-daftar\.html$ media.php?mod=proses-daftar [L]
#RewriteRule ^daftar-online-sukses\.html$ media.php?mod=daftar-online-sukses [L]
#RewriteRule ^program-bimbingan-(.*)-([0-9]+)\.html$ media.php?mod=sub-program-bimbingan&seo=$1&id=$2 [L]
#RewriteRule ^alumni-indonesia-college-yogyakarta\.html$ media.php?mod=alumni&id=$1 [L]
#RewriteRule ^cabang-lainnya-indonesia-college-yogyakarta\.html$ media.php?mod=cabanglain [L]
#RewriteRule ^kirim-kontak\.html$ media.php?mod=kirim-kontak [L]
#RewriteRule ^kontak-sukses\.html$ media.php?mod=kontak&id=sukses [L]
#RewriteRule ^info-penting-(.*)-(.*)\.html$ media.php?mod=blog&seo=$1&id=$2 [L]
#RewriteRule ^siswa-ic-lolos-perguruan-tinggi-(.*)\.html$ media.php?mod=siswalolos-detail&id=$1 [L]
#RewriteRule ^gallery-indonesia-college-yogyakarta-(.*)-(.*)\.html$ media.php?mod=gallery&seo=$1&id=$2 [L]
#RewriteRule ^product-supplier-ayam-broiler\.html$ media.php?mod=product [L]
#RewriteRule ^product-detail-(.*)-(.*)\.html$ media.php?mod=product_detail&seo=$1&id=$2 [L]
#RewriteRule ^cara-pesan-supplier-ayam-broiler\.html$ media.php?mod=konsultasi [L]
#RewriteRule ^gallery-supplier-ayam-broiler.html$ media.php?mod=foto [L]
#RewriteRule ^contact-supplier-ayam-broiler\.html$ media.php?mod=contact [L]
#RewriteRule ^send-message\.html$ joinc/aksi/aksi_kontak.php [L]
#RewriteRule ^testimoni-my-studio-acoustic-artwork\.html$ media.php?mod=testimoni [L]
#RewriteRule ^formulir-testimoni\.html$ media.php?mod=formulir-testimoni [L]
#RewriteRule ^news-supplier-ayam-broiler\.html$ media.php?mod=articles [L]
#RewriteRule ^detail-blog(.*)-(.*)\.html$ media.php?mod=detail_articles&seo=$1&id=$2 [L]
#RewriteRule ^searching-blog\.html$ media.php?mod=cari_blog [L]

#Gallery

#RewriteRule ^gallery-video-my-studio-acoustic-artwork\.html$ media.php?mod=video [L]
#RewriteRule ^detail-video(.*)-(.*)\.html$ media.php?mod=detail_video&seo=$1&id=$2 [L]

#Konsultasi

#RewriteRule ^kirim_konsultasi\.html$ joinc/aksi/aksi_konsultasi.php [L]

#Pemesanan Jasa Or Form Order Service
#RewriteRule ^pemesanan-jasa-my-studio-acoustic-artwork\.html$ media.php?mod=pesan_jasa [L]
#RewriteRule ^kirim-pesan-jasa\.html$ joinc/aksi/aksi_pemesanan_jasa.php [L]

#syarat_ketentuan
#RewriteRule ^syarat-dan-ketentuan-my-studio-acoustic-artwork\.html$ media.php?mod=syarat_ketentuan [L]

#F.A.Q
#RewriteRule ^frequently-asked-questions-my-studio-acoustic-artwork\.html$ media.php?mod=faqs [L]

#Download Files
#RewriteRule ^download-files-my-studio-acoustic-artwork\.html$ media.php?mod=download [L]

#RewriteRule ^searching-product\.html$ media.php?mod=cari_product [L]

#byCategory and byTag
#RewriteRule ^category-(.*)-(.*)\.html$ media.php?mod=product_bycategory&seo=$1&id=$2 [L]
#RewriteRule ^tag-(.*)\.html$ media.php?mod=product_bytag&id=$1 [L]

#Portofolio
#RewriteRule ^portofolio-my-studio\.html$ media.php?mod=portofolio [L]
#RewriteRule ^portofolio-detail-(.*)-(.*)\.html$ media.php?mod=portofolio_detail&seo=$1&id=$2 [L]
#RewriteRule ^portofolio-category-(.*)-(.*)\.html$ media.php?mod=portofolio_category&seo=$1&id=$2 [L]
#RewriteRule ^searching-portofolio\.html$ media.php?mod=cari_portofolio [L]

#Subscribe
#RewriteRule ^subscribe\.html$ joinc/aksi/aksi_subscribe.php [L]


